<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body>
    <div ng-app="myApp" ng-controller="myControl"> 
        <p>Name: <input ng-model="name"></p>
        <p>Nome: {{name}}</p>
    </div>

    <!--
        <div ng-app="myApp" ng-controller="myControl">
        Name: <input ng-model="name">
        </div>
    -->

    
    <script src="/jsAngular/angularAula03.js"></script>
</body>
</html>