*{
    margin: 0;
    padding: 0;
}

.artigo{
    width: 100%; /*Responsivo, dimensiona no tamanho da tela*/
    max-width: 300px; /*Usado quando estiver com largura em porcentagem, limita o maximo da largura*/
    text-align: center;
}

.artigo h1{
    font-style: normal;
    font-size: 23px;

}

.artigo p{
    margin-top: 20px;
    color: black;
    line-height: 20px;
    font-size: 17px;
    font-family: 'tahoma';
    font-style: normal;
    font-weight: bold;
}