*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}
.bg{
    width: 500px;
    height: 500px;
    margin: 0;

    background-color: red;

    /*parte da imagem*/
    background-image: url(/img/download.jpeg);
    background-size: cover;/* 100% auto*/
    background-position: center;
    background-repeat: no-repeat;
}